@model MedAuditoriosPesquisa.Models.ViewModels.LocalFormViewModel;
@using MedAuditoriosPesquisa.Models.Enums

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}


<h3> Novo Local</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Local.Filial" class="control-label"></label>
                <input asp-for="Local.Filial" class="form-control" />
                <span asp-validation-for="Local.Filial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local.Nome" class="control-label"></label>
                <input asp-for="Local.Nome" class="form-control" />
                <span asp-validation-for="Local.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local.DataInteracao" class="control-label"></label>
                <input asp-for="Local.DataInteracao" class="form-control" />
                <span asp-validation-for="Local.DataInteracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local.Capacidade" class="control-label"></label>
                <input asp-for="Local.Capacidade" class="form-control" />
                <span asp-validation-for="Local.Capacidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local.PeDireito" class="control-label"></label>
                <input asp-for="Local.PeDireito" class="form-control" />
                <span asp-validation-for="Local.PeDireito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local.TipoCadeira" class="control-label"></label>
                <select asp-for="Local.TipoCadeira" class="form-select" asp-items="Html.GetEnumSelectList<TipoCadeira>()">
                    class="form-control"
                    <option selected="selected" value="">Selecione o tipo de Cadeira</option>
                </select>
                <span asp-validation-for="Local.TipoCadeira" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local.StatusPrimarioId" class="control-label"></label>
                <select asp-for="Local.StatusPrimarioId" asp-items="@(new SelectList(Model.StatusPrimarios,"Id","Nome"))" class="form-select"></select>
            </div>
            <div class="form-group">
                <label asp-for="Local.StatusSecundarioId" class="control-label"></label>
                <select asp-for="Local.StatusSecundarioId" asp-items="@(new SelectList(Model.StatusSecundarios,"Id","Nome"))" class="form-select"></select>

            </div>
            <div class="form-group">
                <label asp-for="Local.LinkVisita" class="control-label"></label>
                <input asp-for="Local.LinkVisita" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Local.UrlImagem" class="control-label"></label>
                <input asp-for="Local.UrlImagem" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Local.Observacao" class="control-label"></label>
                <textarea asp-for="Local.Observacao" class="form-control" rows="4"></textarea>
            </div>


            <div style="width:500px;">
                <a asp-action="Index" value="Cancelar" class="btn btn-danger" style="margin:5px;" />Cancelar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" style="margin:5px;" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
