@model MedAuditoriosPesquisa.Models.ViewModels.LocalFormViewModel;
@using MedAuditoriosPesquisa.Models.Enums

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<h1>Edit</h1>

<h4>Local</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Local.Id" />
            <div class="form-group">
                <label asp-for="Local.Filial" class="control-label"></label>
                <input asp-for="Local.Filial" class="form-control" />
                <span asp-validation-for="Local.Filial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local.Nome" class="control-label"></label>
                <input asp-for="Local.Nome" class="form-control" />
                <span asp-validation-for="Local.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local.DataInteracao" class="control-label"></label>
                <input asp-for="Local.DataInteracao" class="form-control" />
                <span asp-validation-for="Local.DataInteracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local.Capacidade" class="control-label"></label>
                <input asp-for="Local.Capacidade" class="form-control" />
                <span asp-validation-for="Local.Capacidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local.PeDireito" class="control-label"></label>
                <input asp-for="Local.PeDireito" class="form-control" />
                <span asp-validation-for="Local.PeDireito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local.TipoCadeira" class="control-label"></label>
                <select asp-for="Local.TipoCadeira" class="form-control" asp-items="Html.GetEnumSelectList<TipoCadeira>()">
                    class="form-control"
                    <option selected="selected" value="">Selecione o tipo de Cadeira</option>
                </select>
                <span asp-validation-for="Local.TipoCadeira" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local.StatusPrimarioId" class="control-label"></label>
                <select asp-for="Local.StatusPrimarioId" asp-items="@(new SelectList(Model.StatusPrimarios,"Id","Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Local.StatusSecundarioId" class="control-label"></label>
                <select asp-for="Local.StatusSecundarioId" asp-items="@(new SelectList(Model.StatusSecundarios,"Id","Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Local.Observacao" class="control-label"></label>
                <input asp-for="Local.Observacao" class="form-control" />
                <span asp-validation-for="Local.Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local.LinkVisita" class="control-label"></label>
                <input asp-for="Local.LinkVisita" class="form-control" />
                <span asp-validation-for="Local.LinkVisita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
