@model IEnumerable<MedAuditoriosPesquisa.Models.StatusSecundario>

@{
    ViewData["Title"] = "Status Scundário";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<div class="container">
    <img src="./img/banner_status_secundario.png" class="img-fluid" alt="">
</div>
<div class="col-3">
    <a class="btn btn-success" style="margin:15px;" a asp-action="Create">Criar Novo</a>
</div>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-secondary">
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
